* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.page-header {
  background-color: rgb(12, 2, 34);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: end;
}
.page-header button {
  margin-right: 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 4px;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}
.page-header button:hover {
  background-color: rgb(12, 2, 34);
  color: rgb(255, 255, 255);
}
.form-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgba(214, 214, 214, 0.623);
  z-index: 18;
}
.modal {
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 20;
}
.form-title {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-title::after {
  content: "";
  display: block;
  height: 2.4px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top: 13px;
}
.add-text {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
}

.create-form__input {
  border-radius: 0;
  border: 1px solid rgb(143, 143, 143);
  height: 22px;
  width: 300px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#cardComentsInput {
  display: block;
  max-width: 300px;
  max-height: 150px;
  min-width: 150px;
  min-height: 40px;
  color: black;
  margin-top: 4px;
}
.sbmBtn {
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
  border: none;
  margin-top: 30px;
  width: 150px;
  height: 27px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  cursor: pointer;

  transition: 0.2s;
}

.sbmBtn:hover {
  border-radius: 5px;
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.add-info-wrapper {
  margin-top: 0;
  margin-bottom: 2px;
}

#cardsRoot {
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  min-width: 270px;
  background-color: rgb(228, 228, 228);
  margin: 5px;
  padding: 10px;
}
.card-title {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.card-p-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.card-btn {
  background-color: white;
  border: none;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px;
  margin-left: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.12s;
}
.card-btn:hover {
  background-color: black;
  color: white;
}
#cardCloseBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
}
.card-addinfo {
  display: block;
}
.card-addinfo-hidden {
  display: none;
}

.filter-box {
  padding: 10px;
  background-color: rgb(5, 5, 5);
  position: absolute;
  top: 13px;
  left: 15px;
  display: none;
}

.filterBtn {
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
  border: none;
  width: 70px;
  height: 20px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  cursor: pointer;

  transition: 0.2s;
}

.filterBtn:hover {
  border-radius: 5px;
  color: #fff;
  background-color: rgb(255, 0, 0);
}
